@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

//GENERAL WINDOW (NAVBAR + CARD)

.card{
  font-family: "Jost", sans-serif;
  color: #2b2c48;
}

nav {
  background: #fdfdfd;
  padding: 0;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid #eeeeee;
  height: 44px;
}

.card {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  background: #fdfdfd;
  overflow: hidden;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

ul {
  display: flex;
  width: 100%;
}

li {
  width: 100%;
  padding: 10px 15px;
  position: relative;
  background: white;
  cursor: pointer;
  height: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // flex: 1;
  // min-width: 0;
  user-select: none;
}

li.selected {
  background: #eee;
  // border-radius: 10px;
}

//ABOU TAB
.about-tab {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.3s;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  align-items: center;
  padding-top: 30px;

  .about-profile-picture {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  }

  h1{
    font-size: 19px;
    margin-bottom: 0;
    padding-bottom: 5px;
  }

  h2{
    margin: 0;
    padding: 0;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 0 0 20px 0;
    font-weight: 500;
    color: #918c8a;
  }

  .main-text{
    padding-left: 10px;
    h3{
      font-size: 13px;
      font-weight: 700;
      margin: 0;
      padding: 0 0 8px 0;
    }

    p{
      font-size: 13px;
      color: #6f6f7b;
      line-height: 1.5;
      font-family: "DM Sans", sans-serif;
      margin: 0;
      padding-right: 17px;
      padding-bottom: 17px;
    }
  }

  .contact-card{
    padding-right:225px;

    .github-icon{
      padding-right: 5px;
      height: 25px;
      cursor: pointer;
    }

    .github-icon:hover{
        color: blue;
    }

    .linkedin-icon{
      height: 25px;
      cursor: pointer;
    }
  }
}
