.snd-msg-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr 1 fr .5fr;
}

.row-1{
    margin: .7em;
}

.row-2{
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: 0 1em 0 .7em;
}

.row-3{
    margin: .5em 1em 1em .7em;
}