.snd-msg-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr 1 fr .5fr;
}

.row-1{
    
}

.row-2{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 1em 0 1em;
}

.row-3{
    margin: 1em 1em 0 1em;
}

.row-4{

}